numpy
scipy
tqdm
matplotlib

open3d
opencv-python

torch==1.11.0+cu113
torch-scatter==2.0.9
torchvision==0.12.0+rocm4.5.2

gtsam==4.2a5

jupyter
imageio

glog
icecream

pandas
pyrealsense2

pybind11
gdown
